{% extends "weddingapp/header.html" %}
{% block content%}
        <div class="py-4 filter-dark" style="background-image: url('https://i.imgur.com/1TXryyk.jpg');background-position:center center;">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="display-1 text-primary">Events</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="py-5 bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-center display-3 text-primary">{{event.title}} - {{event.date|date:'D'}} {{event.date}}</h1>
                <p class="text-center">{{event.description|safe|urlize}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="py-5 text-white bg-secondary">
          <div class="container">
            <div class="row">
              <div class="align-self-center p-2 col-md-6">
                <h1 class="mb-4">{{event.location}}</h1>
                <h3 class="text-light">Timeline</h3>
                <p>{{event.timeline|safe|linebreaks}}</p>
                <h3 class="text-light">Dresscode</h3>
                <p class="">{{event.dressCode|safe|linebreaks}}</p>
                <h3 class="text-light">Duration</h3>
                <p class="">{{event.duration}} Hours</p>
                  <div title="Add to Calendar" class="addeventatc">
                    Add to Calendar
                    <span class="start">{{event.date|date:'m/d/Y h:i A'}}</span>
                      <span class="timezone">
                        America/Chicago
                      </span>
                    <span class="title">Umer and Maria's {{event.title}}</span>
                    <span class="description">{{event.description|urlize}}</span>
                    <span class="location">{{event.address}}</span>
                  </div>
              </div>
              <div class="col-md-6 p-0">
                <img class="img-fluid d-block w-100 mb-3 rounded" src="{{ event.ImageURL }}">
              </div>
            </div>
          </div>
        </div>    
{% endblock %}
