{% block content %}

<div class="py-5 text-center filter-dark" style="background-image: url('https://i.imgur.com/zLM2tEN.jpg');background-size:cover;background-position:center center;background-repeat:no-repeat;" >
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary">Umer and Maria's Wedding</h1>
          <p class="lead mb-5">One stop destination for information and RSVP on the wedding.</p>
          <a href="{% url 'RSVP' %}" class="btn btn-lg mx-1 btn-outline-secondary">RSVP
            <br> </a>
          <a href="{% url 'events' %}" class="btn btn-lg btn-outline-primary mx-1">Events</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-3 text-primary">Pakistani Weddings</h1>
          <p class="">Pakistani weddings are definitely the most fun events and celebrations to attend. Everyone struts out in his or her dazzling outfit. The weddings are made up of a series of celebratory events – all of which complete the marital package with
            a touch of ‘chatkhara’. As soon as the wedding season arrives, preparations start all around for brides and grooms to be. Below is what to expect with Umer and Maria's wedding!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid d-block w-100 mb-3 rounded" src="https://i.imgur.com/PWyBasQ.jpg">
            </div>
            <div class="col-md-6">
              <img class="img-fluid d-block w-100 mb-3 rounded" src="https://i.imgur.com/Bviwq4R.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}	
