{% extends "weddingapp/header.html" %}
{% block content%}
<body>
    <div class="py-4 filter-dark" style="background-image: url('https://i.imgur.com/hJSVAxs.jpg');background-position:0% 20%;background-size:cover;background-repeat:no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-1 text-primary">RSVP</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5" >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center display-3 text-primary">RSVP</h1>
                <p class="text-center">Below, you can RSVP for the Wedding</p>
            </div>
          </div>
        </div>
      </div>
    <div class="py-5 bg-secondary text-light">
      <div class="container">
        <div class="row">
          <div class="text-center col-md-12" draggable="true" >
            Coming Soon!
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
